<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localify - Find what's around you</title>
    <link rel="stylesheet" href="./styles/style.css" />
</head>

<body>
    <div class="account-page-content" id="login-page">
        <div class="col-1"></div>
        <div class="col-2">
            <div class="box">
                <h1>Sign In</h1>
                <p>Provide your login cridentials to access your user area</p>
                <form action="#">
                    <input type="text" name="username" id="username" placeholder="Username">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <div class="btn-container">
                        <input type="submit" value="Submit" />
                    </div>
                </form>
                <p>Don't have an account? <a href="#">Register</a></p>

            </div>
        </div>
    </div>
</body>

</html>