<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Localify - Find what's around you</title>
    <link rel="stylesheet" href="./styles/style.css" />
</head>

<body>
    <header>
        <div class="outer-box">
            <div class="logo-container">
                <a href="#">
                    <img src="./assets/localify3.png" alt="Main-logo">
                </a>

            </div>
            <nav id="main-nav">
                <div class="hamburg" id="close-icon">
                    <img src="./assets/close-accent.png" alt="hamburg">
                </div>
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
            <div class="hamburg" id="hamburg">
                <img src="./assets/hamburg.png" alt="hamburg">
            </div>
        </div>
    </header>

    <div class="profile-page-content">
        <div class="hero-area" id="profile-hero">
            <div class="overlay"></div>
            <h1>Business Profile</h1>
        </div>

        <div class="container">
            <div class="business-card">
                <img src="./assets/categories.jpg" alt="cover-photo">
                <div class="logo-container">
                    <img src="./assets/test-logo.png" alt="business-logo">
                </div>
                <div class="card-info-box">
                    <p class="business-name">Business Name</p>
                    <p class="description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, inventore rem nemo cumque,
                        aspernatur optio, sapiente ducimus voluptatibus velit assumenda culpa architecto aut pariatur a
                        odit!
                        Veniam in dignissimos ratione corporis, aperiam, optio quidem animi natus rerum harum quasi
                        minus a
                        suscipit et. Modi, reprehenderit eaque quo fugiat dolore dolorum? Lorem ipsum, dolor sit amet
                        consectetur adipisicing elit. Similique, inventore rem nemo cumque, aspernatur optio, sapiente
                        ducimus
                        voluptatibus velit assumenda culpa architecto aut pariatur a odit! Veniam in dignissimos ratione
                        corporis, aperiam, optio quidem animi natus rerum harum quasi minus a suscipit et. Modi,
                        reprehenderit
                        eaque quo fugiat dolore dolorum?
                    </p>
                    <div class="card-foot">
                        <div class="address">
                            <p class="card-foot-title">Location</p>
                            <p class="card-foot-item"><span class="key">Address:</span> <span>Value</span></p>
                            <p class="card-foot-item"><span class="key">City:</span> <span>Value</span></p>
                            <p class="card-foot-item"><span class="key">State:</span> <span>Value</span></p>
                            <p class="card-foot-item"><span class="key">Zip Code:</span> <span>Value</span></p>
                        </div>
                        <div class="contact">
                            <p class="card-foot-title">Contact</p>
                            <p class="card-foot-item"><span class="key">Website:</span> <span>Value</span></p>
                            <p class="card-foot-item"><span class="key">Phone:</span> <span>Value</span></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <footer>
        <div class="outer-box">
            <div class="logo">
                <img src="./assets/localify3.png" alt="footer-logo">
                <p>Find what's around you</p>
            </div>
            <div class="about">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A maxime repudiandae delectus iure nobis
                    pariatur tempore laboriosam quasi quos necessitatibus animi excepturi iste blanditiis quas
                    voluptatem
                    tempora sed voluptatibus ea earum, modi totam unde. Labore omnis asperiores dolore ipsam est
                    consectetur
                    ducimus velit! Unde, eaque at reprehenderit cum laboriosam esse! <a href="#">Learn More</a></p>
            </div>
            <div class="links">
                <h2>Useful Links</h2>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="contact">
                <h2>Contact Us</h2>
                <p>Got any Questions, Queries or require additional information? </p>
                <a href="#">Contact Us</a>
            </div>
        </div>
        <div class="footer-credit">
            <p>ALX Sprint 3 Capstone Project built by Christian Chi</p>
        </div>
    </footer>
    <script src="./scripts/main.js"></script>
</body>

</html>